asgiref
certifi
charset-normalizer
cryptography
Django
django-cors-headers
django-allauth
djangorestframework
djangorestframework_simplejwt
idna
Pillow
psycopg2-binary
PyJWT
python-dotenv
pytz
requests
sqlparse
tzdata
urllib3
gunicorn
google-auth
whitenoise
