asgiref
certifi
charset-normalizer
Django
django-cors-headers
djangorestframework
djangorestframework_simplejwt
idna
Pillow
psycopg2-binary
PyJWT
python-dotenv
pytz
requests
sqlparse
tzdata
urllib3
gunicorn
whitenoise
